<ng-container *ngFor="let product of products">
  <div class="mui-col-md-4">
    <div class="mui-panel">
      <div class="mui-row">
        <div class="mui-col-md-12">
          <h2>Product #{{ product.sku }}</h2>
          <ul>
            <li>{{ product.description }}</li>
            <li>{{ product.price }}</li>
          </ul>
          <button class="mui-btn mui-btn--primary">
            <span class="material-icons" style="vertical-align: middle">
              add_shopping_cart
            </span>
            Add to Cart
          </button>
        </div>
    </div>
    </div>
</div>
</ng-container>
