<h1>Shopping Cart:</h1>
<div *ngIf="lineItems; else elseBlock">
  <button
    type="button"
    (click)="onCheckout()"
    class="mui-btn mui-btn--accent"
    [disabled]="!lineItems"
  >
    <span class="material-icons" style="vertical-align: middle">
      shopping_cart
    </span>
    Checkout {{ lineItems.length }} Item{{ lineItems.length > 1 ? "s" : "" }}
  </button>

  <div class="mui-panel">
    <table class="mui-table mui-table--bordered">
      <thead>
        <tr>
          <th>SKU</th>
          <th>Description</th>
          <th>Qty</th>
          <th>Total Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lineItem of lineItems">
          <td>{{ lineItem.product.sku }}</td>
          <td>{{ lineItem.product.description }}</td>
          <td>{{ lineItem.quantity }}</td>
          <td>{{ lineItem.product.price | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mui-panel" *ngIf="receipt && lineItems.length < 1">
    <h1>Receipt</h1>
    <pre>{{ receipt }}</pre>
    
  </div>
</div>
<ng-template #elseBlock>
  <span class="material-icons" style="vertical-align: middle">
  add_shopping_cart
</span>
Click 'Add to cart' on a product
</ng-template>
